@model List<Book>
@if (User.Identity.IsAuthenticated)
{
    @if (TempData["Message"] != null)
    {
        <h5 class="alert alert-info">@TempData["Message"]</h5>
    }

    @if (TempData["Message"] == null && Model.Count == 0)
    {
        <h2 class="alert alert-danger">No book in DB. Add book first !</h2>

        <a class="btn btn-success" asp-controller="Book" asp-action="Add">
            Add
        </a>
    }
    else
    {
        <div class="container mt-3 text-center">
            <table class="table table-bordered text-center mt-3 mb-3 bg-light">
                <tr>
                    <th class="h3 text-primary" colspan="4">Book List</th>
                    <th>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("StoreOwner"))
                        {
                            <a class="btn btn-success" asp-controller="Book" asp-action="Add">
                                Add
                            </a>
                        }

                    </th>

                </tr>
                <tr>
                    <th colspan="3">
                        <form method="post" asp-controller="Book" asp-action="StoreOwnerSearch">
                            <input class="form-control" type="search" placeholder="Search by name" name="keyword" required>
                        </form>
                    </th>
                    <th colspan="2">
                        <a class="btn btn-primary" asp-controller="Book" asp-action="SOSortNameAsc">
                            Asc
                        </a>
                        <a class="btn btn-info" asp-controller="Book" asp-action="SOSortNameDesc">
                            Desc
                        </a>
                    </th>
                </tr>
                <tr>

                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Menu</th>

                </tr>
                @foreach (var book in Model)
                {
                    <tr>


                        <td>@book.Name</td>

                        <td>

                            <img src="@book.Image" width="100" dsds height="100" />

                        </td>
                        <td>
                            $ @book.Price
                        </td>

                        <td>
                            @book.Description
                        </td>

                        <td>
                            @book.Stock
                        </td>

                        <td>

                            <a class="btn btn-warning" asp-controller="Book" asp-action="StoreOwnerDetail" asp-route-id="@book.Id">
                                Detail
                            </a>


                            


                            @if (User.Identity.IsAuthenticated && User.IsInRole("StoreOwner"))
                            {
                                <a class="btn btn-success" asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">
                                    Edit
                                </a>
                                <a class="btn btn-danger" asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id"
                   onclick="return confirm('Are you sure to delete this book?');">
                                    Delete
                                </a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
}

